{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedor de Tipos de usuario - BiblioXapp</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/funciones.js' %}"></script>


    <script>
        $(document).ready(function () {
            buscarTiposUsuario();
        });


    </script>
</head>
<body>
    <div class="header d-flex flex-column align-items-center justify-content-center">
        <h1>BiblioXapp</h1>
        <button class="btn btn-primary col-md-1" onclick="CerrarSesion();">Cerrar Sesión</button>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
                <a href="/mantenedorUsuarios" class="btn btn-primary">Mantenedor de Usuarios</a>
            </div>
            <div class="col-md-3">
                <a href="/mantenedorTiposUsuario" class="btn btn-primary">Mantenedor de Tipos de usuario</a>
            </div>
            <div class="col-md-3">
                <a href="/mantenedorSalas" class="btn btn-primary">Mantenedor de Salas de Estudio</a>
            </div>
            <div class="col-md-3">
                <a href="/mantenedorReservas" class="btn btn-primary">Gestion de Reservas</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="text-center">
            <h2>Bienvenido a BiblioX</h2>
           
        </div>
        <div id="DivTipoUsuario">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-info">
                        <div class="card-body">
                            <div class="form-actions">
                                <button type="button" class="btn custom-button" data-toggle="modal"
                                    data-target="#modal-agregarTipoUsuario" onclick="PrepararModalAgregarTipoUsuario();"> <i
                                        class="fa fa-check"></i> Agregar</button>
                            </div>

                            <div class="modal fade " id="modal-agregarTipoUsuario" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLabel1">Agregar Tipo Usuario</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="NombreAddTipoUsuario" class="control-label">Nombre:</label>
                                                        <input type="text" class="form-control" id="NombreAddTipoUsuario">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn custom-button"
                                                onclick="GrabarTipoUsuario();">Grabar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade " id="modal-editarTipoUsuario" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLabel1">Editar Tipo Usuario</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="NombreEditTipoUsuario" class="control-label">Nombre:</label>
                                                        <input type="text" class="form-control" id="NombreEditTipoUsuario">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn custom-button"
                                                onclick="EditarTipoUsuario();">Grabar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="modal-confirmaEliminarTipoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>
                                                Confirmación
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p id="idMensajeEliminrTipoUsuario"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-large pull-right btn-default" style='margin:5px;' data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button type="button" class="btn btn-large pull-right btn-success" style='margin:5px;' data-dismiss="modal" onclick="EliminarTipoUsuario();">
                                                Aceptar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Listado de Tipos de Usuario</h4>
                            <table class="table" id="tablaTipoUsuario">
                                <thead>
                                    <tr>
                                        <th scope="col">Identificador</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Cantidad de Usuarios</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>
            </div>

            <div id="divMensajeNoEncontradoTipoUsuario"> <h1>No se encontraron tipos de Usuario</h1> </div>

        </div>
    </div>

    <footer class="footer text-center py-3 fixed-bottom">
        <p class="mb-0">&copy; 2024 BiblioX - Todos los derechos reservados</p>
        <p>Facilitando el aprendizaje y la concentración en nuestros espacios de estudio.</p>
    </footer>
   
</body>
</html>
